<mat-toolbar mat-dialog-title color="primary" class="dialog-title">
  Login<button mat-button mat-dialog-close class="close-btn">&times;</button>
</mat-toolbar>
<form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="login-form-body">
  <mat-dialog-content>

      <mat-input-container dividerColor="{{userName.invalid && !userName.pristine ? 'warn' : 'primary'}}">
        <input matInput type="text" #userName="ngModel" minlength="5" placeholder="Enter Username" required [(ngModel)]="user.username" name="username"/>
        <mat-hint>
          <span [hidden]="userName.pristine">
            <span [hidden]="!userName.errors?.required">Username is required</span>
            <span [hidden]="!userName.errors?.minlength">Minimum length : 20</span>
          </span>
        </mat-hint>
      </mat-input-container>
      <mat-input-container dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput type="password" #password="ngModel" placeholder="Enter password" required [(ngModel)]="user.password" name="password"/>
        <mat-hint>
          <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </mat-hint>
      </mat-input-container>
      <mat-checkbox [(ngModel)]="user.remember" required name="remember">remember me!</mat-checkbox>

  </mat-dialog-content>
  </div>
    <div class="login-form-footer"><hr/>
    <mat-dialog-actions>
       <span class="flex-spacer"></span>
       <button mat-button mat-dialog-close>cancel</button>
          <button mat-button type="submit" [disabled]="loginForm.form.invalid"  class="background-primary text-floral-white">Submit</button>
    </mat-dialog-actions>
  </div>
</form>
